<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul *ngIf="logedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Massage</a>
      </li>
    </ul>

    <div *ngIf="logedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
       Welcome {{authService.decodedTocken?.unique_name | titlecase}} 
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()" ><i class="fa fa-sign-out" ></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!logedIn()" #loginform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" name="username" required type="text" placeholder="User Name" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" name="password" required type="password" placeholder="Password" [(ngModel)]="model.password">
      <button [disabled]="!loginform.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
  </div>
</nav>